p{
    color:red;
    font-style:italic;
}
*{
    margin:0;
    padding:0;
}
.accent {
    border: 1px solid #000; /*테두리*/
    padding : 5px; /*테두리와 내용 사이의 여백*/
} /*클래스는 중복해서 사용 가능*/
.accent {
    margin: 5px;
}
.bg {
    background-color: #ddd; 
}
#container {
    width: 500px;
    margin:10px auto;
    padding:10px;
    border:1px solid #000;
    font-family: ClimateCrisisKR-1979;
} /*id는 중복없이 하나만 사용 가능*/
@font-face {
    font-family: Pretendard-Regular;
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'ClimateCrisisKR-1979';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/ClimateCrisisKR-1979.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}



  